language: python
before_install:
    - openssl aes-256-cbc -K $encrypted_3bd81e4a6a4c_key -iv $encrypted_3bd81e4a6a4c_iv -in appdev-soda-spanner-staging-b842e628aa41-orijtech.json.enc -out ~/creds.json -d

env:
    global:
        - GOOGLE_APPLICATION_CREDENTIALS=~/creds.json
        - RUNNING_SPANNER_BACKEND_TESTS=1
    jobs:
        - DJANGO_TEST_APPS="admin_changelist admin_custom_urls admin_docs"
        - DJANGO_TEST_APPS="admin_inlines admin_ordering aggregation annotations"
        - DJANGO_TEST_APPS="basic bulk_create custom_pk"
        - DJANGO_TEST_APPS="dates datetimes filtered_relation"
        - DJANGO_TEST_APPS="lookup many_to_one"
        - DJANGO_TEST_APPS="model_fields one_to_one"
        - DJANGO_TEST_APPS="queries.tests.SubqueryTests queries.test_bulk_update queries.test_qs_combinators"
        - DJANGO_TEST_APPS="raw_query timezones update view_tests"

python:
    - "3.7"
cache: pip
install:
    - pip install . tox-travis flake8 isort
script:
    - tox
    - flake8
    - isort --recursive --check-only --diff
    - bash django_test_suite.sh
