on:
  push:
    branches:
      - main
  pull_request:
name: Run Django Spanner mockserver tests
jobs:
  mockserver-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install nox
        run: python -m pip install nox
      - name: Run nox
        run: nox -s mockserver
